<section class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="faq__list list-reset">
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Как я могу сделать заказ?</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>Добавьте понравившиеся товары в корзину и оформите заказ, заполнив все поля.</p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Зачем нужно указывать свой мобильный телефон?</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>Мобильный телефон необходим для того, чтобы наши консультанты могли с вами связаться и уточнить информацию
            по заказу. Уточнение адресных данных необходимо для корректной обработки Вашего заказа и доставки товаров по
            верному адресу.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
