<section class="team">
  <img src="img/team-figure.svg" alt="" class="team__figure" aria-hidden="true">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Владислав Ревякин" class="team__img">
        <strong class="team__subtitle">Владислав Ревякин</strong>
        <span class="team__post">Фронтенд Разработчик</span>
      </li>
    </ul>
  </div>
</section>
